.popup {

    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: rgba($color-black, 0.9);
    z-index: 3000;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    &__content {
        @include absCenter;
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
        border-radius: 3px;
        display: table;
        overflow: hidden; // to make border radius appear over photos
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.25); // shrink content, to make it scale up (zoom ineffect) when popup shown.
        transition: all 0.4s 0.1s;

        @include respond(tab-port) {
            display: block;
        }

        @include respond(phone) {
            width: 100%;
            border-radius: 0px;
            box-shadow: 0;

        }
    }

    &__left {
        width: 33.333333%;
        display: table-cell;

        @include respond(tab-port) {
            width: 100%;
            display: table;
        }

        @include respond(phone) {
            display: none;   
        }
    }

    &__right {
        width: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

        @include respond(tab-port) {
            width: 100%;
            display: block;
        }
    }

    &__img {
        display: block;
        width: 100%;

        @include respond(tab-port) {
            width: 50%;
            height: 20rem;
            display: table-cell;
            vertical-align: middle;
        }

    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2;
        hyphens: auto;

        @include respond(tab-port) {
            column-count: 1;
        }
    }

    // Open states

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        &:link,
        &:visited {
            color: $color-dark-grey;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 4rem;
            line-height: 1;
            text-decoration: none;
            display: inline-block;
            transition: all 0.2s;

            @include respond(tab-port) {
                top: inherit;
            }

            @include respond(phone) {
                top: 2rem;
                right: 2rem;
            }
        }

        &:hover {
            color: $color-primary;
        }

    }

}