.story {
    width: 75%;
    margin: 0 auto; // center element
    box-shadow: 0 3px 6rem rgba($color-black, 0.1);
    background-color: $color-white;
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $font-size-default;
    transform: skewX(-12deg);


    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        -moz-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%); // radius is 50% of width/height, centre positioned at 50% 50%, float text around this shape.
        
        -webkit-clip-path: circle(50% at 50% 50%);
        -moz-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%); // actual visible circle
        transform: translateX(-3rem) skewX(12deg);
    }

    &__img {
        height: 100%;
    }

    &__text {
        transform: skewX(12deg);
    }
}