.story {
    width: 75%;
    margin: 0 auto; // center element
    box-shadow: 0 3px 6rem rgba($color-black, 0.1);
    background-color: rgba($color-white, 0.6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $font-size-default;
    transform: skewX(-12deg);

    @include respond(tab-port) {
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
    }
    
    @include respond(phone) {
        transform: skewX(0);
    }


    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        -moz-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%); // radius is 50% of width/height, centre positioned at 50% 50%, float text around this shape.
        
        -webkit-clip-path: circle(50% at 50% 50%);
        -moz-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%); // actual visible circle
        transform: translateX(-3rem) skewX(12deg);
        position: relative; // to allow positioning of caption over image

        @include respond(phone) {
            transform: translateX(-3rem) skewX(0);
        }
    }

    &__img {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        backface-visibility: hidden;
        transition: all .5s;
    }

    &__text {
        transform: skewX(12deg);

        @include respond(phone) {
            transform: skewX(0);
        }
    }

    &__caption { // initial state before hovered.
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%); // start centred in x but low down the image.
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0; // text invisible
        transition: all .5s;
        backface-visibility: hidden;

    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    
    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        filter: brightness(80%) blur(3px);
    }

}